html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}

/*
Created by Michael Läuchli
*/
.gepaNavStyle{
    font-style: normal;
    color: #3c763d;

}

