html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}

/*
Created by Michael Läuchli
*/
.gepaNavStyle{
    font-size: large;
    font-weight:normal;
    color: #000000;
}
 .gepaNavStyle-active{
     font-size: large;
     font-weight:bold;
     color: #3c763d;
     background-color: #eeeeee;

 }
.gepaTitle{
    color: #3c763d;
    font-weight:normal;
    font-size: xx-large;
    margin-top:15px;
    margin-bottom:0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color:  #3c763d;
    border-style: solid none;
    border-width: 1px 0;
    margin: 8px 0;
}
nav{
    clear:left;
    content:"";

}
.floatcelaener{
    clear:left;
    claer:right;
    content:"";
}

body{
    padding-top:0;
}

.gepaTeamRow{
    min-height: 250px;
    margin-top: 0px;
}

.gepaLine{
    border-color:  #eeeeee;
    margin-top:10px;
    margin-bottom:15px;
}

.gepaNav{
    margin-bottom:0px;
    background-color:#ffffff;
    border-top:0px;
    width:100%;
}

.gepaTitleContainer{
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .gepaCol-lg{
        float:left;
        width:auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (max-width: 1199px) {
    .gepaCol-md{
        float:left;
        width:100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 768px) {
    .gepaCol-sm{
        float:left;
        width:100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media (min-width: 1200px) {
    .gepaMobileLine{
        display:none;
    }
}

#TeamContainer{
    margin-top:15px;
}


